html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  margin: 0;
  font-size: 100%;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-wrap {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-logo {
  color: white;
  font-size: 16px;
  padding-left: 20px;
  font-weight: bold;
}

.header-nav li {
  color: white;
  padding-right: 20px;
}

.header-nav ul {
  display: flex;
}

.top-wrap {
  background: url(eyecatch.jpg)no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
}

.top-text {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  position: absolute;
  top: 60%;
  left: 7%;
}

.news-wrap {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 70px;
}

.news {
  width : 80%;
  background-color: white;
}

.news-text {
  padding-left: 5px;
}

.news-icon {
  width: 20%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 70px;
}

.misson-wrap {
  background-color: black;
  position: relative;
  height: 450px;
 margin-bottom: 10%;
}

.misson-content {
  width: 70%;
  box-sizing: border-box;
  padding: 10% 0 10% 15%;
   z-index: 1;
   position: relative;
}
.misson-title {
  color: white;
  font-size: 28px;
  margin-bottom: 25px;
}

.misson-text {
  color: white;
  margin-bottom: 20px;
}

.misson-btn {
  height: 30px;
  width: 150px;
  background-color: white;
  color: black;
  display: inline-block;
  text-align: center;
  font-style: italic;
  line-height: 30px;
  z-index: -999;
}

.misson-img img {
  width: 40%;
  position: absolute;
  bottom: -10%;
  right: 5%;
}

.service-wrap {
  background-color: lightgray;
}

.service-content {
  position: relative;
  padding-bottom: 15%;
}

.service-title {
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
}

.service-img img {
  width: 50%;
  margin-left: 50%;
}

.service-inner {
  width: 40%;
  height: 270px;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 20%;
  box-sizing: border-box;
  padding: 5%;
}

.service-btn {
  color: black;
  display: block;
  height: 30px;
  width: 150px;
  text-align: center;
  line-height: 30px;
  border: black 1px solid;
  margin: 0 0 0 auto;
}

.service-img-second img {
  margin: 0 50% 0 0;
}

.service-inner-second {
  position: absolute;
  top: 15%;
  left: 40%;
}

.conpany-wrap {
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.conpany {
  background: url(company.jpeg)no-repeat;
  background-size: cover;
  background-position: center;
  width: 48%;
  text-align: center;
  color: white;
  height: 200px;
  display: table;
  margin: 150px 0;
}

.conpany-content {
display: table-cell;
vertical-align: middle;
}

.conpany-title {
  font-size: 28px;
}

.recruit-title {
  font-size: 28px;
}

.recruit {
  background: url(recruit.jpg)no-repeat;
   background-size: cover;
  background-position: center;
  width: 48%;
  text-align: center;
  color: white;
  height: 200px;
  align-items: center;
  display: table;
  margin: 150px 0;
}

.recruit-content {
  display: table-cell;
  vertical-align: middle;
}